h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.video-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -100px; /* Add negative margin to counteract the spacing */
}

.video-container {
  margin: 100px; /* Add margin to create the desired spacing */
  width: 400px;
}

.video-container video.gallery-video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

@media (max-width: 768px) {
  .video-container {
    width: calc(50% - 50px); /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .video-container {
    width: calc(100% - 50px); /* Adjust width for even smaller screens */
  }
}