.video-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.video-container {
  margin: 10px;
  width: 400px;
  position: relative;
}

.video-container video.gallery-video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}
